# Code alongs - python fundamentals 1

In [1]:
my_fruit = input()

print(f"I like to eat: {my_fruit}")

I like to eat:

In [ ]:
age = int(input("Give me your age: "))
print(f"In five years you are {age + 5} years old")

In [2]:
age, type(age)

(33, int)

In [1]:
age = 33 
loves_math = True
type(age), age, type(loves_math)

(int, 33, bool)

# Collections

In [1]:
#list of one data type only
interests = ["football", "gaming", "math", "programming"]


#list of mixed data types 
person = ["Andres", 22, True]
print(person)

['Andres', 22, True]

In [2]:
print(interests)

['football', 'gaming', 'math', 'programming']

In [3]:
type(person), type(person[1])

(list, int)

# Slicing & Indexing

In [4]:
print(interests[1:3])

['gaming', 'math']

In [5]:
print(interests[-1])

programming

In [6]:
person.append(interests)
print(person)

['Andres', 22, True, ['football', 'gaming', 'math', 'programming']]

In [7]:
person[-1][-2], person[-1][-2][::-1]

('math', 'htam')

In [8]:
person_interests = person[-1]
person_interests[-2]

'math'

# Iterate over list

In [9]:
#Pythonic - idomatic python
for interest in person_interests:
    print(interest)

football
gaming
math
programming

In [10]:
#Pythonic 
for i, interest in enumerate(person_interests, 1):
    print(i, interest)

1 football
2 gaming
3 math
4 programming

In [ ]:
#Not pythonic 
for i, interest in range(len(person_interests, 1)):
    print(i, interest)

# List creation

In [12]:
numbers = []

for i in range(10):
    numbers.append(i)
    
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
numbers = [i for i in range(10)]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# list comprehension

In [14]:
squares = [i**2 for i in numbers]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
odd_numbers_squared = [i**2 for i in numbers if i%2]
print(odd_numbers_squared)

[1, 9, 25, 49, 81]

# Dictionary

In [17]:
courses = {
           "python": 40, 
           "agile": 15, 
           "sql": 30, 
           "data_platform": 40,
           "data_modelling": 30,
           "visualization": 40    
           }

courses.keys()

dict_keys(['python', 'agile', 'sql', 'data_platform', 'data_modelling', 'visualization'])

In [18]:
len(courses.keys())

6

In [19]:
courses.values()

dict_values([40, 15, 30, 40, 30, 40])

In [21]:
for course in courses:
    print(course, courses[course])

python 40
agile 15
sql 30
data_platform 40
data_modelling 30
visualization 40

In [29]:
print(f"{'Course':<40} Points")
for course, points in courses.items():
    print(f"{course:<40} {points}")

Course                                   Points
python                                   40
agile                                    15
sql                                      30
data_platform                            40
data_modelling                           30
visualization                            40

# Strings

In [25]:
ml_term = "sUperVised  Learning"

len(ml_term)

20

In [28]:
" ".join(ml_term.strip().split()).lower()

'supervised learning'